*/bin
*/build
*/config/myls.properties
*/config/mygs.properties
*/config/mycs.properties
*/log
*/target
*/test-output
*/cache
AL-Game/data/geo/*
*/nbactions.xml
*/dist/StartGS-MY.bat
*.class
.DS_Store
.gradle/
.idea/
.metadata/
AL-Commons/.gradle/
AL-Commons/AL-Commons.iml
AL-Commons/build.gradle
AL-Game/MethodStats-1402565126408.log
AL-Game/MethodStats-1402643937137.log
AL-Game/MethodStats-1402883164595.log
AL-Game/MethodStats-1402883817659.log
AL-Game/MethodStats-1402888558088.log
AL-Game/MethodStats-1432382381554.log
AL-Game/MethodStats-1432382613972.log
AL-Game/MethodStats-1432393002647.log
AL-Game/MethodStats-1432537276911.log
AL-Game/MethodStats-1432538325228.log
AL-Game/MethodStats-1432538576247.log
AL-Game/MethodStats-1432615423738.log
AL-Game/config/network/ipconfig.out.xml
AL-Login/Login/
AL-Login/data/scripts/system/system.iml
RemoteSystemsTempFiles/
exs-aion-emu.ipr
exs-aion-emu.iws
log/
out/
AL-Game/libs/guava-15.0.jar
AL-Game/libs/javassist.jar
AL-Game/libs/tools.jar
